#HomeBody{
    background-color: #f9e3ce;
}

.container {
    display: flex;
    justify-content: space-between; /* This evenly spaces the two boxes */
    background-color: #7E5535;
  }
  
  .box1 {
    width: 60%; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    text-align: left;
    padding-left: 20px;
    color: #DDB790;
  }
  .box2{
    width: 40%; /* Adjust the width as needed */
    height: 70px; /* Adjust the height as needed */
    text-align: right;
    padding-top: 18px;
    padding-right: 20px;
  }

.Reference{
    text-decoration: none;
    outline: none;
    color: #DDB790;
    padding: 3px;
}



#HomeBar{
    background-color: #966E44;
    display: block;
    text-align: Center;
    justify-content:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    height: 70px;
    margin: 0;
    padding-top: 20px;
}